<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS / ANCM host for the same-origin BFF.

  ASPNETCORE_ENVIRONMENT is deliberately not set here. A value in this file would be
  overwritten on every deploy. Deploy-IisSite.ps1 writes it to applicationHost.config
  so a wipe of the site folder cannot revert the site to Development.
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\FEA.URVP.Backend.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess" />
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering removeServerHeader="true" />
      </security>
    </system.webServer>
  </location>
</configuration>
